.header{
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw 0 7vw;
}

.header .logo{
  height: 100%;
  cursor: pointer;
}

.header .btn-user #icon{
  color: #0565FC;
  font-size: 30px;
}

.header .btn-user img{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
