.content {
  width: 100%;
  min-width: 300px;
  max-width: 430px;
  min-height: 250px;

  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(44, 62, 80, 0.3);
  z-index: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.content .scroll-images {
  height: 180px;
  width: 100%;
  background-color: #FFF;

  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.content .scroll-images::-webkit-scrollbar {
  width: 10px;
}

.content .scroll-images::-webkit-scrollbar-track {
 background: transparent;
}

.content .scroll-images::-webkit-scrollbar-thumb {
  background:rgb(170, 173, 179, 0.3);
  border-radius: 10px;
}

.content .scroll-images .image{
  height: 180px;
  max-width: 100%;
  min-width: 25vw;
}

.content .scroll-images .image img{
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.content .favorite-container {
  position: absolute;
  margin: 10px;
  align-self: flex-end;
}

.content .favorite-container .btn-favorite{
  background-color: #FFF;
  border: 1px solid #F0F0F0;
  width: 40px;
  height: 40px;
  border-radius: 100%;

  z-index: 2;
  color: #0565FC;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}
.content .favorite-container:hover{
  filter: brightness(90%);
}

.content .info-container {
  display: flex;
  flex-direction: column;

  padding: 12px 10px;
  border-top: 2px solid #AAADB3;
}

.content .info-container .price{
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  color: #2C3E50;
}

.content .info-container .address,
.content .info-container .city {
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #AAADB3;
}

.content .info-container .city{
  padding-top: 0px;
}

.content .info-container .more-details{
  display: flex;
  align-items: center;
  align-self: flex-end;

  color: #2C3E50;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.content .info-container .more-details:hover{
filter: brightness(80%);
}

.content .info-container .more-details #icon{
  margin-left: 5px;
}

.heart-icon{
  transition: all 0.1s;
}
