.content {
  width: 100%;
  min-height: 250px;

  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(44, 62, 80, 0.3);
  z-index: 1;
  overflow: hidden;
}

.content .scroll-images {
  height: 180px;
  width: 100%;
  background-color: blue;

  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.content .scroll-images .image{
  height: 180px;
  max-width: 100%;
  min-width: 25vw;
}

.content .scroll-images .image img{
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.content .info-container {
  display: flex;
  flex-direction: column;

  padding: 12px 10px;
  border-top: 2px solid #AAADB3;
}

.content .info-container .price{
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  color: #2C3E50;
}

.content .info-container .address,
.content .info-container .city {
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #AAADB3;
}

.content .info-container .city{
  padding-top: 0px;
}
