@media(min-width: 1850px){
  .favorite-page .favorite .properties-grid  {
    width: 100%;
    grid-template-columns: repeat(4, 410px);
    grid-gap: 30px;
  }
}

@media(max-width: 1100px){
  .favorite-page .favorite .properties-grid {
    width: 100%;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 25px;
  }
}

@media(max-width: 960px){
  .favorite-page .favorite .properties-grid  {
    grid-template-columns: repeat(2, 45vw);
  }
}

@media(max-width: 630px){
  .favorite-page .favorite .properties-grid  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
