.favorite-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-page .favorite{
  max-width: 450px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
}

.favorite-page .favorite h1{
  font-size: 30px;
  font-weight: bold;
  color: #2C3E50;
  text-align: center;
}

.favorite-page .favorite .properties-grid {
  width: 100%;
  margin: 35px 10px;

  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-gap: 35px;
  justify-content: center;
}
