.login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page .sign-in{
  max-width: 450px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.login-page .sign-in .input-container{
  margin-top: 30px;
}

.login-page .sign-in .button-container{
  margin-top: 30px;
}

.login-page .sign-in p{
  margin-top: 15px;
  color: #7F8C8D;
  font-size: 15px;
}

.login-page .sign-in p a{
  font-weight: bold;
  margin-left: 10px;
  color: #7F8C8D;
  font-size: 15px;
  cursor: pointer;
}

