.signup-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-page .sign-up{
  max-width: 650px;
  width: 95%;
  margin-top: 10vh;
}

.signup-page .sign-up h1{
  font-size: 30px;
  font-weight: bold;
  color: #2C3E50;
  text-align: center;
  margin-bottom: 7vh;
}

.signup-page .sign-up .step-progress .steps-content .input{
  margin-top: 25px;
}

.signup-page .sign-up .step-progress .steps-content .password-step h2{
  font-size: 18px;
  color: #7F8C8D;
  text-align: center;
  font-weight: normal;
}

.signup-page .sign-up .step-progress .steps-content .photo-step{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-page .sign-up .step-progress .steps-content .photo-step input{
  outline: none;
}

.signup-page .sign-up .step-progress .steps-content .photo-step .avatar-upload{
  cursor: pointer;
}

.signup-page .sign-up .step-progress .steps-content .photo-step .avatar-upload img{
  width: 180px;
  height: 180px;
  border: 3px solid #7F8C8D;
  border-radius: 180px;
}

.signup-page .sign-up .step-progress .steps-content .photo-step .avatar-upload p{
  text-align: center;
  font-size: 16px;
  color: #7F8C8D;
  text-decoration: underline;
}
