* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F0F0F0;
  width: 100vw;
  height: 100vh;
}

button{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: auto;
  height: auto;
}

li{
  list-style: none;
}

h1, h2, h3, h4, h5, p, li, a, button {
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}
