* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F0F0F0;
}

button{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: auto;
  height: auto;
}

li{
  list-style: none;
}

h1, h2, h3, h4, h5, p, li, a, button, label {
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

.modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
